* {
    font-family: "Gotham-Medium";
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header-container {
    max-width: 1280px;
    margin: auto;
}

header>.header-container {
    display: flex;
    justify-content: space-between;
}

#header-menu {
    display: flex;
    align-self: center;
}

#header-menu ul {
    display: flex;
}

#header-menu ul li {
    padding: 1rem;
}

#header-menu ul li a {
    text-transform: uppercase;
    color: black;
    position: relative;
}

#header-menu a::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 5px;
    background-color: rgb(240, 173, 48);
    top: 100%;
    left: 0px;
    display: none;
}

#header-menu ul li:hover a::after {
    display: block;
}

#header-menu-mobile {
    display: none;
}

@media (max-width: 575.97px) {
    #header-menu {
        display: none;
    }

    #header-menu-mobile {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.footer {
    background-color: rgb(51, 48, 48);
    color: white;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-section p {
    margin: 6px 0;
    font-size: 14px;
}

.footer-section i {
    margin-right: 8px;
}

.banner {
    background-image: url(../images/banner.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 200px;
}

.content-banner {
    margin-right: 500px;
    margin-bottom: 50px;
}

.content-banner h1 {
    font-size: 30px;
    color: rgb(68, 10, 175);
}

.content-banner h2 {
    font-size: 30px;
    color: rgb(195, 157, 19);
}

.content-banner p {
    color: black;
    margin: 30px 0;
}

.content-banner a {
    background-color: rgb(195, 157, 19);
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}